*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formSection{
  background-color: rgb(182, 161, 161);
  height:auto;
  width:50%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
 
}
input{
  padding:27px;
  border-radius: 5px;
  margin:12px
}
button{
  background-image: linear-gradient(to left, green,lightblue );
  border-radius: 15px;
  width:100px;
  height:30px;
  color: white;

}